{% extends "app.html" %}

{% set title = data.pages.review.title %}

{% block content %}
<h2 class="c-app_title">Latest collections</h2>
<div class="c-collection-list">
    <div class="c-collection-item">
        <a href="/collection-show.html" class="c-collection-name">
            <p>My favorite Whiskies from Auchan Katowice</p>
        </a>
        <div class="c-collection-meta">
            <p>Products in a collection: <span>45</span> | Watchers: <span>3401</span></p>
            <p>Prices: 30-300</p>
            <p><img src="https://image.flaticon.com/icons/svg/616/616489.svg" width="20" /></p>
        </div>
        <div class="c-collection-desc">
            My collection of whiskes available in Auchan Katowice. Store your reviews in one place. Make private notes and public reviews. Never forgot about the feelings you have for the first time you've played with product.
        </div>
    </div>
    <div class="c-collection-item">
        <a href="/collection-show.html" class="c-collection-name">
            <p>Toys for little girls</p>
        </a>
        <div class="c-collection-meta">
            <p>Products in a collection: <span>15</span> | Watchers: <span>5401</span></p>
            <p>Prices: 30-1100</p>
            <p><img src="https://image.flaticon.com/icons/svg/616/616489.svg" width="20" /></p>
        </div>
        <div class="c-collection-desc">
            My collection of whiskes available in Auchan Katowice. Store your reviews in one place. Make private notes and public reviews. Never forgot about the feelings you have for the first time you've played with product. My collection of whiskes available in Auchan Katowice. Store your reviews in one place. Make private notes and public reviews. Never forgot about the feelings you have for the first time you've played with product.
        </div>
    </div>
    <div class="c-collection-item">
        <a href="/collection-show.html" class="c-collection-name">
            <p>Toys for little girls</p>
        </a>
        <div class="c-collection-meta">
            <p>Products in a collection: <span>45</span> | Watchers: <span>3401</span></p>
            <p>Prices: 30-300</p>
            <p><img src="https://image.flaticon.com/icons/svg/616/616489.svg" width="20" /></p>
        </div>
        <div class="c-collection-desc">
            My collection of whiskes available in Auchan Katowice. Store your reviews in one place. Make private notes and public reviews. Never forgot about the feelings you have for the first time you've played with product.
        </div>
    </div>
    <div class="c-collection-item">
        <a href="/collection-show.html" class="c-collection-name">
            <p>Toys for little girls</p>
        </a>
        <div class="c-collection-meta">
            <p>Products in a collection: <span>15</span> | Watchers: <span>5401</span></p>
            <p>Prices: 30-1100</p>
            <p><img src="https://image.flaticon.com/icons/svg/616/616489.svg" width="20" /></p>
        </div>
        <div class="c-collection-desc">
            My collection of whiskes available in Auchan Katowice. Store your reviews in one place. Make private notes and public reviews. Never forgot about the feelings you have for the first time you've played with product. My collection of whiskes available in Auchan Katowice. Store your reviews in one place. Make private notes and public reviews. Never forgot about the feelings you have for the first time you've played with product.
        </div>
    </div>
    <div class="c-collection-item">
        <a href="/collection-show.html" class="c-collection-name">
            <p>Toys for little girls</p>
        </a>
        <div class="c-collection-meta">
            <p>Products in a collection: <span>45</span> | Watchers: <span>3401</span></p>
            <p>Prices: 30-300</p>
            <p><img src="https://image.flaticon.com/icons/svg/616/616489.svg" width="20" /></p>
        </div>
        <div class="c-collection-desc">
            My collection of whiskes available in Auchan Katowice. Store your reviews in one place. Make private notes and public reviews. Never forgot about the feelings you have for the first time you've played with product.
        </div>
    </div>
    <div class="c-collection-item">
        <a href="/collection-show.html" class="c-collection-name">
            <p>Toys for little girls</p>
        </a>
        <div class="c-collection-meta">
            <p>Products in a collection: <span>15</span> | Watchers: <span>5401</span></p>
            <p>Prices: 30-1100</p>
            <p><img src="https://image.flaticon.com/icons/svg/616/616489.svg" width="20" /></p>
        </div>
        <div class="c-collection-desc">
            My collection of whiskes available in Auchan Katowice. Store your reviews in one place. Make private notes and public reviews. Never forgot about the feelings you have for the first time you've played with product. My collection of whiskes available in Auchan Katowice. Store your reviews in one place. Make private notes and public reviews. Never forgot about the feelings you have for the first time you've played with product.
        </div>
    </div>
</div>
{% endblock %}
  