{% extends "app.html" %}

{% set title = data.pages.review.title %}

{% block content %}
<h2 class="c-app_title">Latest reviews</h2>
<div id="columns">
            <figure>
                <div class="c-rate">7/10</div>
            <img src="https://i.pinimg.com/236x/87/b0/9e/87b09e4cea584bf86be64685b7184b24.jpg">
          <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
          </figure>
          
          <figure>
              <div class="c-rate">7/10</div>
          <img src="https://i.pinimg.com/236x/5c/1f/f5/5c1ff57408bcae7314465aed1c273d5b.jpg">
          <figcaption>Rapunzel, clothed in 1820’s period fashion</figcaption>
          </figure>
          
        <figure>
            <div class="c-rate">7/10</div>
          <img src="https://i.pinimg.com/236x/12/b7/97/12b79793e17ae6708a0b156824fb3743.jpg">
          <figcaption>Belle, based on 1770’s French court fashion</figcaption>
          </figure>
        
          <figure>
              <div class="c-rate">7/10</div>
          <img src="https://i.pinimg.com/236x/53/6b/eb/536bebdaa89d5773defbce0f2243469c.jpg">
          <figcaption>Mulan, based on the Ming Dynasty period</figcaption>
          </figure>
          
         <figure>
             <div class="c-rate">7/10</div>
           <img src="https://i.pinimg.com/236x/87/b0/9e/87b09e4cea584bf86be64685b7184b24.jpg">
          <figcaption>Sleeping Beauty, based on European fashions in 1485</figcaption>
          </figure>
          
         <figure>
             <div class="c-rate">7/10</div>
           <img src="https://i.pinimg.com/236x/ea/5e/28/ea5e284f423a88176aabde738d317feb.jpg">
          <figcaption>Pocahontas based on 17th century Powhatan costume</figcaption>
          </figure>
        
          <figure>
              <div class="c-rate">7/10</div>
          <img src="https://i.pinimg.com/236x/56/99/ff/5699ff5d674afdb4b58c2578c1879d1e.jpg">
          <figcaption>Snow White, based on 16th century German fashion</figcaption>
          </figure>	
        
         <figure>
             <div class="c-rate">7/10</div>
          <img src="https://i.pinimg.com/236x/be/c7/a3/bec7a368eeadb35f2be3bfa86c4b3e47.jpg">
          <figcaption>Ariel wearing an evening gown of the 1890’s</figcaption>
          </figure>
        
          <figure>
              <div class="c-rate">7/10</div>
          <img src="https://i.pinimg.com/236x/bf/a2/d9/bfa2d9b1662515f8dee8e7720acb84ce.jpg">
          <figcaption>Tiana wearing the <i>robe de style</i> of the 1920’s</figcaption>
          </figure>	

          <figure>
              <div class="c-rate">7/10</div>
                <img src="https://sklep-domwhisky.pl//pol_pl_Old-Pulteney-12-letni-40-0-7l-6226_1.jpg">
              <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
              </figure>
              
              <figure>
                  <div class="c-rate">7/10</div>
              <img src="https://i.pinimg.com/236x/5c/1f/f5/5c1ff57408bcae7314465aed1c273d5b.jpg">
              <figcaption>Rapunzel, clothed in 1820’s period fashion</figcaption>
              </figure>
              
            <figure>
                <div class="c-rate">7/10</div>
              <img src="https://i.pinimg.com/236x/ac/5e/ae/ac5eae77a6514395cc4b8d4a9a161955.jpg">
              <figcaption>Belle, based on 1770’s French court fashion</figcaption>
              </figure>
            
              <figure>
                  <div class="c-rate">7/10</div>
              <img src="https://i.pinimg.com/236x/12/b7/97/12b79793e17ae6708a0b156824fb3743.jpg">
              <figcaption>Mulan, based on the Ming Dynasty period</figcaption>
              </figure>
              
             <figure>
                 <div class="c-rate">7/10</div>
               <img src="https://i.pinimg.com/236x/87/b0/9e/87b09e4cea584bf86be64685b7184b24.jpg">
              <figcaption>Sleeping Beauty, based on European fashions in 1485</figcaption>
              </figure>
              
             <figure>
                 <div class="c-rate">7/10</div>
               <img src="https://i.pinimg.com/236x/ea/5e/28/ea5e284f423a88176aabde738d317feb.jpg">
              <figcaption>Pocahontas based on 17th century Powhatan costume</figcaption>
              </figure>
            
              <figure>
                  <div class="c-rate">7/10</div>
              <img src="https://i.pinimg.com/236x/87/b0/9e/87b09e4cea584bf86be64685b7184b24.jpg">
              <figcaption>Snow White, based on 16th century German fashion</figcaption>
              </figure>	
            
             <figure>
                 <div class="c-rate">7/10</div>
              <img src="https://i.pinimg.com/236x/be/c7/a3/bec7a368eeadb35f2be3bfa86c4b3e47.jpg">
              <figcaption>Ariel wearing an evening gown of the 1890’s</figcaption>
              </figure>
            
              <figure>
                  <div class="c-rate">7/10</div>
              <img src="https://i.pinimg.com/236x/bf/a2/d9/bfa2d9b1662515f8dee8e7720acb84ce.jpg">
              <figcaption>Tiana wearing the <i>robe de style</i> of the 1920’s</figcaption>
              </figure>	
    

          </div>
{% endblock %}
  